* {
    margin: 0;
}
body {
    background: #edd4a2;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
    line-height: 1.6;
    padding: 25px;
}

.container {
    display: flex;
    width: 100%;
}

h1 {
    margin-bottom: 20px;
    text-decoration: none;
    color: #7E9F19;
}

.places-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
}

article {
    background-color: aliceblue;
    border-color:#CCC #999 #999 #CCC;
    border: 1px solid #999;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    box-shadow:-3px -3px 10px 0.1px rgb(0, 0, 0, 0.7);
}
article h2 {
    border-bottom: 1px dashed #7E9F19;
    margin: 0;
}

article img {
    float: left;
    border: 1px solid #7E9F19;
    margin: 10px 10px 0 0;
    padding: 2px;
    width: 300px;
    max-width: 100%;
    height: auto;
}

.sidenote-right {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-left: 20px;

}

aside {
    background-color: #FFFBE4; 
    border: 1px solid #C9BC8F;
    padding: 10px;
}

aside h3 {
    font-size: 14px;
    margin-top: 0;
}

aside ol {
    font-size: 12px;
}

footer {
    font-size: 12px;
    text-align: center;
}

@media (max-width: 600px) {
    article img {
        float: none;
        display: block;
        margin: 0 auto 10px;
        width: 100%;
        max-width: 400px;
    }

    .container {
        flex-direction: column;
    }

    .places-left, .sidenote-right {
        width: 100%;
        margin-left: 0;
    }
}