* {
    margin: 0;
}
body {
    background: #edd4a2;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
    line-height: 1.6;
}

.container {
    margin: 0 auto;
    width: 960px;
}

.container h1 {
    text-align: center;
    margin: 20px 0 20px 0;
}

h1 a {
    text-decoration: none;
    color: #7E9F19;
}

h1 a:hover {
    color: #FFF;
}
 
.places {
    float: left;
    width: 660px;
}

article {
    background-color: aliceblue;
    border-color:#CCC #999 #999 #CCC;
    border: 1px solid #999;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    box-shadow:-3px -3px 10px 0.1px rgb(0, 0, 0, 0.7);
}
article h2 {
    border-bottom: 1px dashed #7E9F19;
    margin: 0;
}

article img {
    border: 1px solid #7E9F19;
    float: left;
    margin: 10px 10px 0px 0px;
    padding: 2px;
}

.clear {
    clear: both;
}

aside {
    background-color: #FFFBE4; 
    border: 1px solid #C9BC8F;
    float: right;
    padding: 10px;
    width: 260px;
}

aside h3 {
    font-size: 14px;
    margin-top: 0;
}

aside ol {
    font-size: 12px;
}

footer {
    font-size: 12px;
    text-align: center;
}