body {
    background: #edd4a2;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
    line-height: 1.6;
}

.container {
    margin: 0 auto;
    width: 960px;
}

h1 a {
    text-decoration: none;
    color: #7E9F19;
}

h1 a:hover {
    background-color: #7E9F19;
    color: #FFF;
}

.places {
    float: left;
    width: 660px;
}

.place {
    background-color: aliceblue;
    border-color:#CCC #999 #999 #CCC;
    border: 1px solid #999;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;

}
.place h2 {
    border-bottom: 1px dashed #7E9F19;
    margin: 0;
}

.place img {
    border: 1px solid #7E9F19;
    float: left;
    margin: 10px 10px 0px 0px;
    padding: 2px;
}

.clear {
    clear: both;
}

.sidenote {
    background-color: #FFFBE4; 
    border: 1px solid #C9BC8F;
    float: right;
    padding: 10px;
    width: 260px;
}

.sidenote h3 {
    font-size: 14px;
    margin-top: 0;
}

.sidenote ol {
    font-size: 12px;
}

.footer {
    font-size: 12px;
    text-align: center;
}